.new-pages{
    margin: 0;
    padding: 80px;
    background-color: color-mix(in xyz-d50, black 30%, green 20%);
}

.proyecto {
    margin: 0 auto;
    max-width: 1200px;
}

.new-pages h1{
    text-align: center;
}

footer{
    text-align: center;
    background-color: color-mix(in xyz-d50, white 20%, blue 90%);
    margin: 0;
    padding: 10px 10px;
}

form{
    padding: 100px;
    background-color: color-mix(in xyz-d50, black 30%, green 20%);
}

@media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
  .container {
    width: 1200px;
    margin: 0 auto;
  }